<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <!--<add name="dbconnection" connectionString="Data Source=h2yopgjbc9.database.windows.net;Initial Catalog=MatchMakerV1804;User Id=adeministrator;Password=!907fener Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"-->
    <add name="dbconnection" connectionString="Data Source=DESKTOP-IEDUPGS\DEV01;Initial Catalog=MatchMaker;Integrated Security=True;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>